{
  "presets": [["latest", { "modules": false }], "stage-2"],
  "plugins": ["transform-export-extensions", "es6-promise"],
  "env": {
    "development": {
      "plugins": []
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
